/* Main Styles */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2, h3, span {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 48px;
    margin-bottom: 4px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;

}

h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

}

/* Topnav */
header.topnav {
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content:space-between;
    margin: 32px 48px;

}
/* Logo Styles */

.logo {
    height: 48px;
    width: 48px;
}

 /* TopNav */

.navbar {
    padding: 14px;
}
.navbar a{
    text-decoration:none;
    color: #012030;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 4px 24px;
    border-bottom: 3px solid transparent;
}
  
.navbar a:hover {
    border-bottom: 3px solid #83B0B5;
    color: #83B0B5;
}
  
.navbar a:active {
    border-bottom: 3px solid #83B0B5;
}


/* Intro */
.intro{
    max-width: 700px;
    margin: 128px 0px 0px 128px;
}